/**
 * Icon Component Styles
 */

.vds-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  vertical-align: middle;
}

.vds-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Size variants */
.vds-icon[data-size="12"],
.vds-icon[size="12"] {
  width: 0.75rem;
  height: 0.75rem;
}

.vds-icon[data-size="16"],
.vds-icon[size="16"] {
  width: 1rem;
  height: 1rem;
}

.vds-icon[data-size="20"],
.vds-icon[size="20"] {
  width: 1.25rem;
  height: 1.25rem;
}

.vds-icon[data-size="24"],
.vds-icon[size="24"] {
  width: 1.5rem;
  height: 1.5rem;
}

.vds-icon[data-size="32"],
.vds-icon[size="32"] {
  width: 2rem;
  height: 2rem;
}
